body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: aquamarine;
  display: flex;
}

.home-page-article {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding:  2rem 0;
  border-bottom: 1px dotted gray;
}

.home-page-article__link {
  font-size: 2rem;
  text-decoration: none;
}

.home-page-article__date {
  margin-top: 1rem;
  font-weight: lighter;
}

/* Configs fot the header */

header {
  width: 95%;
  min-width: 200px;
  margin: 0 auto;
  /* background-color: #b42323; Change the background color as needed */
  color: #000000; /* Change the text color as needed */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
}

.menu h1 {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}


.menu a {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  text-decoration: none; /* Remove the underline */
  color: #000; /* Set the link color */
}


.ul menu {
  list-style: none;
  padding: 0;
  display: flex;
}

/* .menu {
  margin-right: 20px;
} */

.header-right a {
  text-decoration: none;
  color: #000000;
  font-family: 'Fira Sans', sans-serif;
}

/* Index body */
.index-container {
  width: 900px;
  margin: 0 auto;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.left-column {
  flex: 1;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  margin-right: 25px;
  margin-left: 50px;
}

.right-column {
  flex: 2;
  padding: 20px;
  width: 66%;
  margin-right: 50px;
  margin-left: 25px;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff; 
  color: #333; /* Set text color as desired */
  padding: 10px;
  text-align: left; /* Center-align the text */
}